#Case_Study_image {
    width: 300px;
}
ol{
    font-size: large;
}
#Text Image{
margin-top: 800px;
margin-left: 500px;
}
h5{
    font-size: large;
}
.img{
 height: 300px;
 width: 300px;
}